<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Моје резервације
    </ion-title>
  </ion-toolbar>

  <div class="menu">
    <ion-button
      class="menubutton"
      fill="clear"
      color="dark"
      routerLink="/korisnik-home"
      routerDirection="root"
    >
      <img src="https://img.icons8.com/office/60/000000/globe-earth.png" />
      <b><p class="signin-text">Претрага летова</p></b>
    </ion-button>
    <ion-button
      class="menubutton"
      fill="clear"
      color="dark"
      routerLink="/korisnik-rezervacije"
      routerDirection="root"
    >
      <img src="https://img.icons8.com/office/60/000000/train-ticket.png" />
      <b><p class="signup-text">Моје Резервације</p></b>
    </ion-button>
  </div>
</ion-header>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content class="background">
  <ion-grid>
    <ion-card class="card">
      <ion-row>
        <ion-col> #</ion-col>
        <ion-col>
          <ion-icon name="train"></ion-icon>
          Број Резервације</ion-col
        >
        <ion-col>
          <ion-icon name="location-outline"></ion-icon>
          Место Поласка</ion-col
        >
        <ion-col>
          <ion-icon name="location-outline"></ion-icon>
          Место Доласка</ion-col
        >
        <ion-col>
          <ion-icon name="location-outline"></ion-icon>
          Број Преседања</ion-col
        >
        <ion-col>
          <ion-icon name="bookmark-outline"></ion-icon>
          Број Места</ion-col
        >
        <ion-col>
          <ion-icon name="calendar-outline"></ion-icon>
          Датум Поласка</ion-col
        >
        <ion-col>
          <ion-icon name="help-circle-outline"></ion-icon>
          Статус</ion-col
        >
        <ion-col>
          <ion-icon name="id-card-outline"></ion-icon>
          Агент</ion-col
        >
      </ion-row>
    </ion-card>
    <ion-card  class="card" *ngFor="let rezervacija of rezervacije  let i=index">
      <ion-row>
        <ion-col class="rb">
          <p>{{i+1}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.letID}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.mestoPolaska}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.mestoDolaska}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.brojpresedanja}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.brojMesta}}</p>
        </ion-col>
        <ion-col class="datumPolazak">
          <p class="datumPolazak">
            {{rezervacija.datumPolaska | date: 'dd/MM/yyyy HH:mm'}}
          </p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.status}}</p>
        </ion-col>
        <ion-col class="linija">
          <p class="linija">{{ rezervacija.agent}}</p>
        </ion-col>

        <!-- <ion-col>
   <p><ion-button class="otkaziRezervaciju" (click)="otkazirezervaciju(rezervacija.polazak.polazakID)">Откажи
      <ion-icon name="trash"></ion-icon>
    </ion-button></p> 
    
  </ion-col> -->
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <!--   <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="caret-back-outline"></ion-icon>
       
         <ion-badge></ion-badge> 
        </ion-tab-button>
    
  
    
        <ion-tab-button tab="map">
          <ion-icon name="ellipse-outline"></ion-icon>
        
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="square-outline"></ion-icon>
      
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    -->
  </ion-toolbar>
</ion-footer>
