  .menubutton{
      height: 60px;
      font-size: large;
  }
  .ion-checkbox{
    position: absolute;
  right: 15px;
  width: 60px;
  height: 40px;
  }
  .actionbutton{
    height: 70px;
    font-size: 20px;
  }
  .lbl{
    position: relative;
    left: 25px;
  }
  .tabelanazivikolona{
    height: 40px;
    font-size: 17px;
  }
  .id{
    position: relative;
    width: 30px;

  }