<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <img src="https://img.icons8.com/office/60/000000/user-group-man-man--v1.png"/>
      </ion-buttons>
      <ion-title style="color: #3171e0	; font-size: 25px;">
       

      Пријава
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="ion-padding">
    
  

    <form #f="ngForm" (ngSubmit)="signIn(f)">
      <div class="ion-padding">
        <ion-item>
          <ion-label position="floating">
            <img src="https://img.icons8.com/office/16/000000/gmail-login.png"/>
                        Емаил адреса</ion-label>
          <ion-input type="text" ngModel name="email" required minlength="6" required></ion-input> 
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">
            <img src="https://img.icons8.com/office/16/000000/password.png"/>
                        Лозинка</ion-label>
          <ion-input type="password" ngModel name="password" required></ion-input>
        </ion-item>
       
      </div>
        <ion-button type="submit" class="actionbutton" expand="block" fill="clear" style="text-transform: none;">
          <!-- <ion-icon name="log-in"></ion-icon> -->
          <img src="https://img.icons8.com/office/60/000000/checked-user-male--v1.png"/>          Пријави се</ion-button>
    </form>
  </div>
</ion-content>

