.rezervisiDugme{
    color: rgb(53, 7, 7);
}
.menubutton{
    height: 60px;
}
.ion-checkbox{
    position: absolute;
  right: 15px;
  width: 60px;
  height: 40px;
  }
  .actionbutton{
    height: 70px;
    font-size: 20px;
  }